<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card>
    <ion-img src="../../assets/images/welcome.jpg"></ion-img>
    <ion-card-header>
      ¡Hola!
    </ion-card-header>
    <ion-card-content>
        Bienvenido a mi aplicaciónes en Ionic. Estoy emocionado de mostrarte lo que he creado.
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink="/weather">Ver el clima</ion-button>
  <ion-button expand="block" routerLink="/calculator">Utiliza una calculadora</ion-button>
  <ion-button expand="block" routerLink="/quiz">Contesta este quiz</ion-button>
</ion-content>

